.header {
	text-align: center;
}

.form_question{
	text-align: center;
	margin: auto;
}

.question_text{
	height: 30px;
	width: 300px	
}

.static{
	margin-left: 35px;
}

#edit{
	display: inline;
}

#answers{
	margin-top: 10px;
	margin-bottom: 10px;
}

#inline{
	display: inline;
}

li{
	margin-top: 8px;
}
li