<% if current_user %>
	<ul>
		<% current_user.questions.each do |question| %>
			<li><h3 class="inline"><a href="/questions/<%=question.id%>"><%= question.text %></a></h3>
			<p class="inline"><a href="/questions/<%=question.id%>/edit">Edit</a></p><br>
			<% if question.answers %>
				<h4>Answers:</h4>
					<% question.answers.each do |answer| %>
					<p><li><%= answer.text %></p></li>
				<% end %>
			<% end %><hr> 
		<% end %>
		</li></p>
	</ul>
<%end%>
